body {
	background-color: #F9F2EC;
}

nav {
	float: left;
	background-color: black;
}

nav a {
	display: inline;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

nav a:hover {
	background-color: #111;
}
