body {
	background-color: #F9F2EC;
	margin: 50 px 100 px 100 px 50 px;
}

nav {
	float: left;
	background-color: black;
}

nav a {
	display: inline;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

h2 {
	font-size: 20px;
}

h3 {
	font-size: 18px;
}

p {
	font-size: 16px;
}
