body {
	background-color: #F9F2EC;
}

.centered {
	margin: 0 auto;
}

nav {
	width: 800px;
	padding: 14px;
	margin: 0 auto;
	background-color: black;
	
}

nav a {
	display: inline;
	color: white;
	text-align: center;
	padding: 16px;
	margin: 21px;
	text-decoration: none;
	
}

h2 {
	font-size: 20px;
}

h3 {
	font-size: 18px;
}

p {
	font-size: 16px;
}
